<ion-header>
  <ion-toolbar color="primary"><ion-title>Acordeón</ion-title></ion-toolbar>
</ion-header>
<ion-content>
<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>primer acordeon</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">primer contenido</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>segundo acordeon</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">segundo contenido</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>tercer acordeon</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">tercer contenido</div>
  </ion-accordion>
</ion-accordion-group>
